<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiniTapticMusic (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MiniTapticMusic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TapticMusic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8831D65C1E797B1A003B8175</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88B7D0401E5348C6003A5208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88B7D0571E5348C6003A5208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88B7D0621E5348C6003A5208</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
